@model PhotoAlbum.Models.PageData<PhotoAlbum.Business.DTO.PhotoOfAlbumDTO>

@{
    ViewBag.Title = "Фотографии";
}

<style>
    img{
        max-height: 100px;
        max-width: 160px;
        float: none;
        margin: 0 0 40px 0;
    }
</style>

<h2>@ViewBag.AlbumName</h2>

<div id="gallery">

        @foreach (var item in Model.Content)
        {
            <a href="/Photo/ShowPhoto/@item.Id">
               @Html.Raw("<img src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(item.Image) + "\" />")
            </a>
        }

    <div>
        @if (Model.CountPage > 1)
        {
            @Html.PageLinks(Model.NumberPage, Model.CountPage, x => Url.Action("ShowPhotos", "Photo", new { albumName = ViewBag.AlbumName,  page = x }))
        }
    </div>
</div>